<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/css/styles.css">
    <title><%= @title %></title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/movies">Show movies</a>
      <a href="/movies/new">Add movies</a>
    </nav>
    <h1>Welcome to the movie database home screen</h1>
    <h2>Click 'Show movies' to see what movies we have</h2>
    <h2>-- OR --</h2>
    <h2>Click 'Add movies' to contribute to the database</h2>
  </body>
</html>
