<!-- TEMPLATE FOR INDEX -->
<div class="container index">
  <h1 class="page_title">Welcome to the movie database home screen</h1>
  <h2>Click 'Show movies' to see what movies we have</h2>
  <h2>-- OR --</h2>
  <h2>Click 'Add movies' to contribute to the database</h2>
</div>
